name: Publish

on:
  push:
    tags: ['v*']

jobs:
  publish:
    if: github.repository == 'brc-dd/iron-webcrypto'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: lewagon/wait-on-check-action@v1.4.1
        with:
          ref: ${{ github.ref }}
          check-regexp: 'test / .*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - uses: denoland/setup-deno@v2
      - run: |
          deno task build
          cd dist
          npm install -g npm@latest
          npm publish
          deno install
          deno publish
